@if (IsShow)
{
<div  class="modal fade show" tabindex="-1" aria-modal="true" role="dialog" style="display: block; background-color: #0000006b;"   >
    <div  id="@Id" tabindex="100" class="modal-dialog modal-dialog-centered mw-1000px" >
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 ">
                @Header
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal" @onclick="ClosePopupAsync" >
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1"></rect>
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1"></rect>
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                @Body
            </div>
        </div>
    </div>
</div>
}


